{% extends 'base.html' %}


{% block content %}


{% if cart_products %}

    {%  for product in cart_products %}


        <div class="container">
            <br>
            <div class="card mb-3" >
                <div class="row g-0">
            
                    
                    <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{product.description}}</p>
                                ${{product.price}}
                                <br><br>                               
                                <div class="row justify-content-center">
                                    <div class="col-md-2">Quantity:</div>
                                    <div class="col-md-2">

                                        <select class="form-select form-select-sm" id="select{{product.id}}">
                                            {% for key, values in quantity.items %}

                                                {% if key == product.id|slugify %}
                                                    
                                                    <option selected>{{values}}</option>

                                                {% endif %}

                                            {% endfor %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>

                                        </select>
                                    </div>
                                   
                                </div>
                                <br>
                                <a href="{% url 'homePage'  %}" class="btn btn-secondary">Home</a>

                                <button type="button" data-index="{{product.id}}" class="btn btn-secondary  updateButton" >Update</button>

                                <button type="button" data-index="{{product.id}}" class="btn btn-danger remove">Remove</button>

                            </center>
                        
                        </div>
                    </div>
                </div>
            </div> 

        </div>

    {% endfor %}
    <br>

    <h4>Total = ${{total_price}}</h4>

{% else %}
    <div>
        Cart is empty.....
    </div>

{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<script>
    $(document).on('click', '.updateButton', function(e){
    e.preventDefault()
    var productId = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "update" %}',
        data: {
            product_id: $(this).data('index'),
            product_quantity:$('#select' + productId + ' option:selected').text(),
            csrfmiddlewaretoken : '{{ csrf_token }}',
            action : 'post'
            
        },

        
        success: function(json){
            
            location.reload();           
        },
        error: function(xhr, errorMessage, error){

        }


    })



});
</script>

<script>
    $(document).on('click', '.remove', function(e){
        e.preventDefault();

    console.log($(this).data('index'),)
        $.ajax({
            type: 'POST',
            url:  '{% url "delete" %}',

            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
            },

            success: function(Json){
                location.reload()
            },

            error: function(xhr, errorMessage,error){
                console.log(error)

            }
        })
    })
</script>


{% endblock %}


