{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sta Mall</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to sta mall... low price top quality. <br> shop in style....</p>
        </div>
    </div>
</header>

<div class="container">
    <div>
        <center>
            <p>This is the sta mall <br> low price top quality</p>
        </center>
    </div>

</div>
<br/><br/>

<br><br><br><br><br><br>

{% endblock %}
