{% extends 'base.html' %}


{% block content %}


<br><br><br>

<div class="container">
    <br>
    <div class="card mb-3" >
        <div class="row g-0">
    
            
          <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{product.description}}</p>
                        ${{product.price}}
                        <br><br>
                        <div class="row justify-content-center">
                            <div class="col-md-2">Quantity:</div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3">4</option>
                                    <option value="3">5</option>
                                    <option value="3">6</option>
                                    <option value="3">7</option>

                                </select>
                            </div>
                        </div>
                        <br>
                        <a href="{% url 'homePage'  %}" class="btn btn-secondary">Home</a>
                        <button class="btn btn-secondary" value="{{ product.id }}" id="addCart">Add to cart</button>
                        


                    </center>
                   
                </div>
          </div>
        </div>
    </div>
    
    
</div>




<br><br><br><br><br><br><br><br>


<script>
    $(document).on('click', '#addCart', function(e){
        e.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url "addToCart" %}',
            data: {
                product_id : $('#addCart').val(),
                product_quantity : $('#quantity option:selected').text(),
                csrfmiddlewaretoken : '{{ csrf_token }}',
                action : 'post'
                
            },
            
            success: function(json){
                document.getElementById('cart_quantity')
                .textContent = json.cart_size

                location.reload()
            },
            error: function(xhr, errorMessage, error){

            }
        })

    });
</script>



      

{% endblock %}